.image-input-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .upload-label{
        width: fit-content;
        height: fit-content;
        padding: 0.2rem 0.6rem;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgb(201, 201, 201);
    }
}

.image-container{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: whitesmoke;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 20;
        position: absolute;
    }

    .delete-div{
        z-index: 21;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: fit-content;
        height: fit-content;
        padding: 0.6rem;
        top: 0;
        right: 0;
        color: white;
        border-bottom-left-radius: 0.5rem;
        background-color: black;
        cursor: pointer;
        opacity: 0.8;
    }

    input{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}