header {
    top: 0;
    left: 0;
    z-index: 100;

    .header-container {
        a {
            img {
                width: 100px;
            }
        }

        .wishlist-notification-profile {

            // wishlist
            .wishlist-container {
                .wishlist-counter {
                    top: -8px;
                    background-color: rgba($color: white, $alpha: 0.6);
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                }
            }

            // notification
            .notification-section {
                .notification-icon {
                    .notification-counter {
                        top: -6px;
                        background-color: rgba($color: white, $alpha: 0.6);
                        border-radius: 50%;
                        width: 26px;
                        margin-left: 8px;
                        height: 26px;
                    }
                }

                .notification-container {
                    display: flex;
                    display: none;
                    margin-top: 10px;
                    right: -4rem;
                    min-width: 360px;
                    height: fit-content;
                    background-color: white;

                    .notification-box {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        overflow-y: scroll;
                        height: fit-content;
                        max-height: 60vh;
                        min-height: fit-content;
                    }

                    .notification {
                        display: flex;
                        flex-direction: row;
                        gap: 0.8rem;
                        width: 100%;
                        padding: 0.8rem;
                        border-bottom: 1px solid rgb(235, 235, 235);

                        &:hover {
                            cursor: pointer;
                        }

                        .notification-icon {
                            width: 30px;
                            min-width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            overflow: hidden;
                            background-color: whitesmoke;
                        }

                        .notification-details {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            p {
                                margin: 0;
                            }

                            .date {
                                font-size: 0.8rem;
                                color: grey;
                            }
                        }
                    }
                }
            }

            .profile-container {
                .profile {
                    height: 36px;
                    width: 36px;
                    border-radius: 100%;
                    overflow: hidden;
                }

                .profile-menu {
                    display: none;
                    right: 0;
                    margin-top: 6px;
                    width: 200px;
                    background-color: white;

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            padding: 0.8rem;
                            cursor: pointer;
                            font-size: 0.9rem;

                            &:hover {
                                background-color: rgb(248, 248, 248);
                            }

                            i {
                                width: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}