.landing-container{
    height: 400px;
    margin-top: 70px;
    background-size: cover;
    background-position-y: center;
    background-image: url('/rentrover/assets/images/room-2.jpg');

    .landing-info{
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 600px;
        border-radius: 0 1rem 0 0;
        border-bottom: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
        background-color: rgba($color: white, $alpha: 0.8);
    }
}

.service-container{
    display: flex;
    flex-direction: column;
    gap: 0;

    .service{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3rem 2rem;

        i{
            font-size: 7rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        p{
            margin: 0;
        }

        .service-title{
            font-weight: 600;
        }

        .service-title{
            font-size: 2rem;
            justify-content: justify;
        }
    }

    .odd-service {
        background-color: black;
        color: white;
    }

    .even-service {
        background-color: white;
        color: black;
    }
}

@media(min-width: 768px){
    .service{
        width: 50%;
    }
}